body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.container {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

canvas {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.paginas {
    text-align: center;
    margin-top: 20px;
}

.paginas a {
    color: #007bff;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #ddd;
    margin: 0 4px;
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.paginas a:hover {
    background-color: #007bff;
    color: #fff;
}

.paginas a:active {
    background-color: #0056b3;
    color: #fff;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-group input {
    box-sizing: border-box;
}

.cadastro {
    width: 350px;
    height: auto;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    margin: 40px;
    opacity: 0;
    animation: fadeIn 2s forwards;
    box-shadow: 15px 35px 15px rgba(0, 0, 0, 0.2);
    background-color: #e0e0e0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.cadastro input {
    margin: 15px;
    width: 200px;
    border-radius: 5px;
    background-color: #333;
    color: whitesmoke;
}

.logout-btn {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #f00;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}

.logout-btn:hover {
    background-color: #c00;
}

.btn-perfil {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-perfil:hover {
    background-color: #0056b3;
}

.container {
   width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-balance {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.profile-balance p {
    font-size: 1.2em;
    font-weight: bold;
}

.profile-form {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.profile-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.profile-form input,
.profile-form select,
.profile-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Adiciona box-sizing para uniformidade */
}

.profile-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.profile-form button:hover {
    background-color: #0056b3;
}

.btn-back {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-back:hover {
    background-color: #218838;
}

.profile-summary {
    background-color: #bebebe;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-summary h3 {
    margin-top: 0;
}

.profile-summary p {
    margin: 10px 0;
    font-size: 1.1em;
}


@media (min-width: 720px) {
    #Menu {
        display: flex;
       
        justify-content: space-between;
    }

    .form-periodo, .form-grafico {
        flex: 1;
        margin-right: 10px;
    }

    .form-periodo:last-child, .form-grafico:last-child {
        margin-right: 0;
    }
    .chart{
        width: 80%;
        height: 600px;
    }
}
.form-periodo, .form-grafico {
    display: inline-block;
    margin-right: 10px;
}

.form-periodo select, .form-grafico select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-periodo button, .form-grafico button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-periodo button:hover, .form-grafico button:hover {
    background-color: #0056b3;
}